.container {
    padding: 50px;
    margin-bottom: 110px;
}

.banner {
    padding: 100px;
    text-align: center;
    line-height: 40px;
}

h2 {
    font-size: 50px;
    line-height: 100px;
    font-weight: 600; 
    color: white;
}

.stage {
    line-height: 352px;
    text-align: center;
}

.text-area {
    text-align: justify;
    margin: auto;
    padding: 10px;
    display: block;
    text-justify: inter-word;
    margin-right: 20px;
    margin-left: 10px;
}

img {
    border-radius: 8px;
    width: 100%;
    height: auto;   
}

.stage-box{
    height: 400px;
    width: 100%;
    grid-column-start: 3;
    grid-column-end: 6;
    margin: auto;
    border-radius: 5px;
}

.stage-box:nth-child(odd) {
    grid-column-start: 1;
    grid-column-end: 3;
}

.grid-item {
    height: 400px;
    width: 100%;
    grid-column-start: 3;
    grid-column-end: 6;
    margin: auto;
}

.grid-item:nth-child(odd) {
    grid-column-start: 1;
    grid-column-end: 3;
}

img {
    vertical-align: middle;
    width: 100%;
    height: 350px;
}

video {
    vertical-align: middle;
    width: 100%;
    height: 350px;
}

a {
    text-decoration: none;
    color: #e7e9ec;
}

h1 {
    font-size: 40px;
    line-height: 48px;
    font-weight: 600;
    margin-bottom: 20px;
    color: white;
}

.banner-container{
    height: 350px;
    width: 100%
}

.grid-container { 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-row-gap: 50px;
    padding: 20px;
    background-color: #141414;
    width: 95%;
    margin: auto;
    border-radius: 8px;
}

body {
    background-color: #33443c;
    overflow-x: hidden;
    font-family: 'Open Sans', 'Montserrat', sans-serif;
    font-weight: 300;
    color: #e7e9ec;
    font-size: 20px;
    line-height: 24px;
} 

nav {
    width: 100%;
    height: 100px;
    background-color: #fff;
    bottom: 0;
    position: fixed;
    font-weight: 300;
}

/* the unordered list */
ul {
    margin-left: 0px;
}

/* a list item within an unordered list */
ul li {
    list-style: none;

    /* puts items next to each other, rather than on top of one another */
    display: block;
    line-height: 50px;

    /* removes a deadzone that exists to the right of a list item */
    float: left;
}

/* an anchor tag in a list item within an unordered list */
ul li a {

    /* lets you click anywhere above or below a list item */
    display: block;
    
    text-decoration: none;
    font-size: 14px;
    /* color: #1e1e1e; */
    color: #1e1e1e;
    
    /* 0px padding top and bottom, 20px padding left and right */
    padding: 0 20px;
}

/* will change the color in the above "ul li a" styling, to the one in this "ul li a" when hovered over  */
ul li a:hover {
    color: red;
}

@media only screen and (min-width: 768px) {

    nav {
        width: 100%;
        height: 100px;
        /* background-color: #fff; */
        background-color: #e7e9ec;
    }

    .wrapper {
        width: 80%;
        margin: 0 auto;
    }

    ul li {
        list-style: none;
    
        /* puts items next to each other, rather than on top of one another */
        display: block;
        line-height: 100px;
    
        /* removes a deadzone that exists to the right of a list item */
        float: left;
    }
}

.wrapper {
    width: 100%;
}
